html, body{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  font-family: "Crimson Text", serif;
}

.scene{
  height:100vh;
  width:100vw;
}
h1 {
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  font-size:3.5em;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.businessDetails
{
  position:absolute;
  z-index:999;
  font-size:14pt;
  font-weight: bolder;
  bottom:8em;
  width:480px;
  left:50%;
  margin-left:-240px;
}
div.address
{
  float:left;
  height:100%;
}
div.address span
{

  display:block;
  clear:both;
  float:none;
  width:100%;
}
div.address span:first-child
{
  text-align:center;
}
div.hours
{
  float:right;
  height:100%;
  text-align:center;
}
table.hours
{
  width:100%;
  border:none;
  text-align:left;
}
table.hours tr td:first-child
{
  padding-right:16px;
  content:"blah";
}
table.hours tr td:last-child
{
  text-align:right;
}
table.hours tr
{
  border-bottom: 1px dotted #00cdcd;
}
table.hours tr:last-child
{
  border:none;
}
.carousel-caption
{
  top: 12em;
  bottom: auto;
  color:#262626;
  text-shadow:none;
}

@media only screen and (max-width: 600px) {
  .carousel-caption
  {
    top:8em;
  }
  div.businessDetails{
    width:80%;
    left:10%;
    bottom:3em;
    margin-left:0px;
  }
  div.address{
    width:48%;
  }
  div.hours {
    width:48%;
  }
}


div.header
{
  box-sizing: border-box;
  font-family:"Montserrat";
  color:white;
  position:fixed;
  z-index:1000;
  top:0;
  left:0;
  width:100%;
  text-align: center;
  background-color:transparent;
  padding:32px;
  color:#262626;
  fill:#262626;
  -webkit-transition: background-color 2s; /* Safari */
  transition: background-color 2s;
}
div.header.stuckTop
{
  background-color:#00cdcd;
  color:#ffffff;
  fill:#ffffff;
  padding-top:16px;
  padding-bottom:16px;
}
div#otherLogo
{
  font-family:"Rozha One";
  float:left;
  font-size:20pt;
  -webkit-transition: display 2s; /* Safari */
  transition: display 2s;

}
div.header div#otherLogo
{
  display:none;
}
div.header.stuckTop div#otherLogo
{
  display:block;
}
div.header.stuckTop #svg_logo
{
  display:none;
}

#svg_logo
{
  fill:inherit;
  height:120px;
}
.toppings
{
  /*fill:#00cdcd;*/
  fill:#fff;
}
.header span.logo
{
  display:block;
  float:left;
  font-size:3em;
  position:absolute;
  left:1em;
  top:1em;
}
.header div.links
{
  position:absolute;
  right:32px;
  top:1.75em;
}
div.links a{
  text-decoration: none;
  color:inherit;
  font-size:1.5em;
}
div.footer
{

}


/* 
Menu Stuff
*/

.hamburger{
  background:none;
  position:absolute;
  color:inherit;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  color:inherit;
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu_list 
{
  z-index:1000000; 
  font-weight:bold; 
  font-size:0.8em; 
  width:10em; 
  background:#f1f1f1;  
  position:fixed; 
  text-align:left; 
  font-size:12px;
}
.menu_bottom .menu_list
{
  bottom:5em;
  right:0;
}
.menu_top .menu_list
{
  top:5em;
  right:0;
}
.menu_list ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}
.menu_list li {display: block;   padding:15px; border-bottom:#dddddd 1px solid;}
.menu_list li:hover{display: block;    background:#ffffff; padding:15px; border-bottom:#dddddd 1px solid;}
.menu_list ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu_list ul li a:hover {  color: #666; text-decoration:none;}
.menu_list a{text-decoration:none; color:#666;}
.menu_list a:hover{text-decoration:none; color:#666;}

.overlay
{
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  background-color:rgba(240,240,240,0.5);
  height:100%;
  width:100%;
}

#juicerReferral
{
  display:none;
}

#menuOffering
{
  height:auto;
  min-height:auto;
}
.scene h1.title
{
  text-align: center;
  display:block;
}
.scene:after
{
  display: inline-table;
  content:"";
  clear:both;
}