html, body{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  font-family: "Crimson Text", serif;
}

div.scene
{
  height:100vh;
  width:100vw;
  clear:both;
  float:none;
  background-attachment: fixed;
  background-position:center center;
  background-repeat: none;
  background-size: cover;
  text-align:center;
  box-sizing: border-box;
}
div.sceneHolder
{
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

#welcomeScene{background-image:url('https://source.unsplash.com/4nXkhLCrkLo/1600x900');}
#scene3{background-image:url('https://source.unsplash.com/CakL2iMxaaU/1600x900');}
#scene4{background-image:url('https://source.unsplash.com/KZwp2IIyXmA/1600x900');}
#scene5{background-image:url('https://source.unsplash.com/MtqG1lWcUw0/1600x900');}
#scene6{background-image:url('https://source.unsplash.com/12eHC6FxPyg/1600x900');}
#scene7{background-image:url('https://source.unsplash.com/MhOoD_h90ks/1600x900');}
#scene8{background-image:url('https://source.unsplash.com/iASD5_HpTZc/1600x900');}
#scene9{background-image:url('https://source.unsplash.com/qUre9NsY_CM/1600x900');}
#scene10{background-image:url('https://source.unsplash.com/EOnHT42R1a8/1600x900');}
#scene11{background-image:url('https://source.unsplash.com/bWg-BeVJPG4/1600x900');}
#scene12{background-image:url('https://source.unsplash.com/zdunBSAi3P0/1600x900');}
#scene13{background-image:url('https://source.unsplash.com/J6W_MSU67o8/1600x900');}
#scene14{background-image:url('https://source.unsplash.com/M3M7D7LZ_n0/1600x900');}
#scene15{background-image:url('https://source.unsplash.com/x5SRhkFajrA/1600x900');}
#scene16{background-image:url('https://source.unsplash.com/IY-zGz64JxQ/1600x900');}
#scene17{background-image:url('https://source.unsplash.com/HPZs4EXRFSU/1600x900');}
#scene18{background-image:url('https://source.unsplash.com/CTn9OsMk-wM/1600x900');}
#scene19{background-image:url('https://source.unsplash.com/gUBJ9vSlky0/1600x900');}
#scene20{background-image:url('https://source.unsplash.com/CJAKsppS2co/1600x900');}
#scene21{background-image:url('https://source.unsplash.com/i_xVfNtQjwI/1600x900');}
#scene22{background-image:url('https://source.unsplash.com/CJAKsppS2co/1600x900');}

div.header
{
  box-sizing: border-box;
  font-family:"Montserrat";
  color:white;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  text-align: center;
  background-color:transparent;
  padding:32px;
}
#svg_logo
{
  fill:#fff;
  height:10em;
}
.toppings
{
  fill:#00cdcd;
}
.header span.logo
{
  display:block;
  float:left;
  font-size:3em;
  position:absolute;
  left:1em;
  top:1em;
}
.header div.links
{
  position:absolute;
  right:32px;
  top:1.75em;
}
div.links a{
  text-decoration: none;
  color:inherit;
  font-size:1.5em;
}
div.footer
{

}


/* 
Menu Stuff
*/

.hamburger{
  background:none;
  position:absolute;
  color:inherit;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  color:inherit;
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu_list 
{
  z-index:1000000; 
  font-weight:bold; 
  font-size:0.8em; 
  width:10em; 
  background:#f1f1f1;  
  position:fixed; 
  text-align:left; 
  font-size:12px;
}
.menu_bottom .menu_list
{
  bottom:5em;
  right:0;
}
.menu_top .menu_list
{
  top:5em;
  right:0;
}
.menu_list ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}
.menu_list li {display: block;   padding:15px; border-bottom:#dddddd 1px solid;}
.menu_list li:hover{display: block;    background:#ffffff; padding:15px; border-bottom:#dddddd 1px solid;}
.menu_list ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu_list ul li a:hover {  color: #666; text-decoration:none;}
.menu_list a{text-decoration:none; color:#666;}
.menu_list a:hover{text-decoration:none; color:#666;}
